.list {
    text-align: center;
    margin: auto;
    width: 50%;
}

.list ul {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

.list li {
    display: block;
    margin: 1.2em;
}

.list a {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 400;
    width: 400px;
    margin: auto;
    padding: 1.2em 0em;
    border: 1px solid #000;
}

.list a:hover {
    background-color: black;
    color: white;
}

.list h1 {
    font-size: 2em;
}